.react {
    background-color: blue;
}
.angular {
    background-color: red;
}
.vue {
    background-color: #6dff4f;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
