.angular-logo {
    width: 90%;
}

.title {
    background-color: #e4e4e4;
    font-style: italic;
    padding: 4rem;
}

.subtitle {
    color: #676767;
}

.option {
    padding: 4rem;
    margin-top: 2rem;
}

.link-text {
    margin-bottom: 1.5rem;
    color: dimgrey;
    text-align: center;
}

.link-text:hover {
    text-decoration: underline;
}

hr.line {
    color: black;
}

.img-social {
    opacity: .7;
    width: 2rem;
}
