<div class="App">
  <div class="App-intro content">
    <div [ngStyle]="item.style" *ngFor="let item of state.mockData">
      {{item.content}}
    </div>
  </div>

  <div class="modal-container">
    <div class="modal-head">
      <div class="controls">
        <button (click)="switchState()" [class.active]="state.isToggleOn" [class.no-active]="!state.isToggleOn" >
          {{ state.isToggleOn ? 'STOP' : 'START' }}
        </button>
        <button (click)="clear(true)">
          CLEAR
        </button>
      </div>
      <div class="logo">
        <h5 class="App-title">
          <img alt="Angular Logo"
               src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
          Angular
          <small>(v.{{state.ngVersion}})</small>
        </h5>
      </div>
    </div>
    <div class="modal-content">
      <div class="content">
        <div class="counter elements">
          <p>{{state.extradigits + state.step * 10}}</p>
          <small>elements</small>
        </div>
        <div class="counter time">
          <p> {{((state.secondsCounter < 10) ? "0" : "") + state.secondsCounter}}</p>
          <small>seconds</small>
        </div>
      </div>
    </div>
    <div class="modal-foot">
      <button (click)="setElnumValue(elnum)" [class.active]="elnum === state.elnumValue"
              *ngFor="let elnum of state.elnumOptions">
        {{elnum}}
      </button>
    </div>
    <div class="info">
      <a target="_blank" class="social github-icon" href="https://github.com/acamposruiz/js-frameworks-tests/blob/master/angular-test/src/app/app.component.ts">
        <img class="img-social" alt="Github" src="assets/scalableVectorGraphics/github-icon.svg"/> <span>View source code</span>
      </a>
    </div>
  </div>
  <div class="back-container">
    <a title="Go back" class="back-link" href="https://acamposruiz.github.io/js-frameworks-tests/builds/home/index.html">
      <img class="img-social" alt="Go back" src="assets/scalableVectorGraphics/back.svg"/>
    </a>
  </div>
</div>
