body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}


.content div {
    font-size: .8rem;
    float: left;
    border-radius: 7.625rem;
}

.step-info {
    width: 100%;
    text-align: center;
}

.logo img {
    height: 5.75rem;
    position: relative;
    top: 1.9375rem;
}

.logo small {
    font-size: .6em;
}

.App {
    text-align: center;
    font-family: sans-serif;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 5rem;
}

.App-header {
    background-color: #222;
    height: 9.375rem;
    padding: 1.25rem;
    color: white;
}

.App-title {
    top: -5.75rem;
    position: relative;
    font-size: 2em;
    padding-bottom: 1.75rem;
}

.modal-container {
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-container .modal-head {
    margin-bottom: .5rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-container .modal-head .logo {
    padding-right: 1.625rem;
    background-color: white;
    border-radius: .875rem;
    margin-left: .4375rem;
}

.modal-container .controls {
    display: flex;
}

.modal-container .controls button {
    margin: .1875rem;
    opacity: .9;
    background-color: #bb2f2f;
    color: white;
    border-radius: 0rem;
    padding: .875rem;
    font-size: 1.5em;
}

.modal-container .controls button.active {
    background-color: white;
    color: red;
    opacity: 1;
}

.modal-container .controls button.no-active {
    background-color: #25277b;
}


.modal-container .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-container .modal-content .content {
    opacity: .9;
    background-color: #bb2f2f;
    color: white;
    width: 37.5rem;
}

.modal-container .counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 9em;
    padding: 1.4375rem;
}

.modal-container .counter.time {
    color: black;
}

.modal-container .counter p {
    position: inherit;
    margin: 0rem;
    padding: 0rem;
}

.modal-container .counter small {
    font-size: 0.25em;
    margin: 0rem;
    padding: 0rem;
}

.modal-foot {
    margin-top: .5rem;
}

.modal-foot button {
    margin: .1875rem;
    opacity: .9;
    background-color: #bb2f2f;
    color: white;
    border-radius: 0rem;
    padding: .5625rem;
    font-size: 1.3em;
    padding-left: 1.25rem;
    padding-right: 1.125rem;
}

.modal-foot button.active {
    background-color: white;
    color: #bb2f2f;
    opacity: 1;
}