.App {
    text-align: center;
    font-family: sans-serif;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    top: -83px;
    position: relative;
    font-size: 2em;
    padding-bottom: 28px;
}

.step-info {
    width: 100%;
    text-align: center;
}

.logo small {
    font-size: .6em;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.modal-container {
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-head {
    margin-bottom: 8px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-head .logo {
    padding-right: 26px;
    background-color: white;
    border-radius: 14px;
    margin-left: 7px;
}

.modal-head img {
    position: relative;
    top: 31px;
}

.modal-container .controls {
    display: flex;
}

.modal-container .controls button {
    margin: 3px;
    opacity: .9;
    background-color: #1eafbf;
    color: white;
    border-radius: 14px;
    padding: 17px;
    font-size: 1.5em;
}

.modal-container .controls button.active {
    background-color: white;
    color: red;
    opacity: 1;
}

.modal-container .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-container .modal-content .content {
    opacity: .9;
    background-color: #1eafbf;
    color: white;
    border-radius: 75px;
    width: 600px;
}

.modal-container .counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 9em;
    padding: 23px;
}

.modal-container .counter.time {
    color: black;
}

.modal-container .counter p {
    position: inherit;
    margin: 0px;
    padding: 0px;
}

.modal-container .counter small {
    font-size: 0.25em;
    margin: 0px;
    padding: 0px;
}

.modal-foot button {
    margin: 3px;
    opacity: .9;
    background-color: #1eafbf;
    color: white;
    border-radius: 14px;
    padding: 9px;
    font-size: 1.3em;
}

.modal-foot button.active {
    background-color: white;
    color: #1eafbf;
    opacity: 1;
}